* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 5rem;
  background-color: black;
  color: white;
}

main {
  padding: 6rem;
}

main h2 {
  padding-bottom: 1rem;
}

.top-section {
  border-bottom: 1px solid white;
  padding: 6rem;
}

.top-section p {
  padding: 3rem;
}

.groups-list {
  border: 1px solid white;
  padding: 2rem;
}

.groups-header {
  display: flex;
  justify-content: space-between;
}

.groups-header h2 {
  display: contents;
}

.groups-header span {
  margin: auto 0;
  font-family: emoji;
}

.group-wrapper {
  border: 1px solid white;
  padding: 6rem;
}
